<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
  <div layout:fragment="content">
    <form>
      <div class="body">
        <div class="mb-3">
          <label class="text-lg label-hd">会員情報</label>
        </div>
        <div th:replace="~{fragments/errormsg :: errormsg}"></div>
        <div class="mb-3 flex">
          <div class="flex label-center">
            <label for="id" class="text-sm search-label">id</label>
            <input id="id" name="id" type="text" class="form-input w-short" maxlength="256" />
          </div>
          <div class="flex label-center">
            <label for="name" class="text-sm search-label">氏名</label>
            <input id="name" name="name" type="text" class="form-input w-medium" maxlength="256" />
          </div>
        </div>
        <div class="mb-3 flex">
          <div>
            <button class="w-100 blue">新規</button>
            <button class="w-100 blue">複写</button>
            <button class="w-100 blue">変更</button>
            <button class="w-100 blue">削除</button>
          </div>
          <button class="w-100 blue">検索</button>
        </div>
      </div>
    </form>
    <script>
      // 初期処理
      $(document).ready(function () {});

      // 戻るボタンクリックイベント
      $('#back').click(() => {
        window.history.back();
      });

      // 次へボタンクリックイベント
      $('#next').click((e) => {
        const params = getForm($('form'));

        postData('/join/pre/ok', params, (res) => {
          location.href = res.url;
        });
      });

      $('#email').focusout((e) => {
        errorClear();

        if (e.target.value != $('#emailConfirm').val() && $('#emailConfirm').val() != '') {
          setErrorMsg('emailConfirm', 'メールアドレスと一致しません。');
        }
      });

      $('#emailConfirm').keyup((e) => {
        errorClear();

        if (e.target.value != '' && e.target.value != $('#email').val() && $('#email').val() != '') {
          setErrorMsg('emailConfirm', 'メールアドレスと一致しません。');
        }
      });

      $('#password').focusout((e) => {
        errorClear();

        if (e.target.value != $('#passwordConfirm').val() && $('#passwordConfirm').val() != '') {
          setErrorMsg('passwordConfirm', 'パスワードと一致しません。');
        }
      });

      $('#passwordConfirm').keyup((e) => {
        errorClear();

        if (e.target.value != '' && e.target.value != $('#password').val() && $('#password').val() != '') {
          setErrorMsg('passwordConfirm', 'パスワードと一致しません。');
        }
      });
    </script>
    <style>
      .search-label {
        margin-right: 30px;
      }

      .label-center + .label-center {
        margin-left: 50px;
      }

      .bt-box {
        justify-content: space-between;
      }

      .bt-box button {
        max-width: 300px;
        width: calc(100% / 3 - 10px);
      }
    </style>
  </div>
</html>
