<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
  <div layout:fragment="content">
    <div class="body">
      <div class="mb-3">
        <label class="text-lg label-hd">会員管理</label>
      </div>
      <div th:replace="~{fragments/errormsg :: errormsg}"></div>
      <form>
        <div class="mb-3 flex">
          <div class="flex label-center">
            <label for="id" class="text-sm search-label">id</label>
            <input id="id" name="id" type="text" class="form-input w-short" maxlength="256" />
          </div>
          <div class="flex label-center">
            <label for="name" class="text-sm search-label">氏名</label>
            <input id="name" name="name" type="text" class="form-input w-medium" maxlength="256" />
          </div>
          <button type="button" class="w-100 blue search" id="search">検索</button>
        </div>
      </form>
      <div class="mb-3 flex">
        <div id="crudBtn" data-controller="member">
          <button type="button" class="w-100 gray" id="add">新規</button>
          <button type="button" class="w-100 gray" id="copy">複写</button>
          <button type="button" class="w-100 gray" id="update">変更</button>
          <button type="button" class="w-100 gray" id="delete">削除</button>
        </div>
      </div>
      <table></table>
    </div>
    <script>
      const columns = {
        id: { name: 'ID' },
        name: { name: '氏名' },
        email: { name: 'メールアドレス' },
        gender_name: { name: '性別' },
        birthday: { name: '生年月日' },
        postcode: {},
        phone_no: {},
        update_date: {},
      };

      // 初期処理
      $(document).ready(function () {
        createTableHeader(columns);
      });

      // 次へボタンクリックイベント
      $('#search').click((e) => {
        const params = getForm($('form'));

        postData('/member/search', params, (res) => {
          if (res.httpStatus == 200) {
            createTable(columns, res.data);
          } else {
            location.href = '/login';
          }
        });
      });
    </script>
    <style>
      .search-label {
        margin-right: 30px;
      }

      .label-center + .label-center {
        margin-left: 50px;
      }

      .bt-box {
        justify-content: space-between;
      }

      .bt-box button {
        max-width: 300px;
        width: calc(100% / 3 - 10px);
      }
    </style>
  </div>
</html>
