<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
  <div layout:fragment="content" class="body flex column">
    <div class="mb-3">
      <label class="text-lg label-hd">パスワード（仮）再設定完了</label>
    </div>
    <div class="label-center">
      ご入力いただいたメールアドレスに確認のためのメールを送信しました。<br />メールを開いて記載されているリンクをクリックし再設定手続きを行って下さい。
    </div>
    <a id="link">パスワード再設定画面に遷移する。</a>
    <button type="button" id="next" class="mt-7 blue">ログイン画面へ</button>
    <script>
      $(window).on('load', () => {
        $('#link').attr('href', '/password/' + '[[${token}]]');
      });
      // ログイン画面へボタンクリックイベント
      $('#next').click(() => {
        postData('/password/pre/send/ok', {}, (res) => {
          if (res.url != '' && res.url != null) {
            location.href = res.url;
          }
        });
      });
    </script>
    <style>
      a {
        display: block;
        color: black;
        margin: 50px 0;
        align-self: center;
      }

      button {
        width: 30%;
        align-self: center;
      }
    </style>
  </div>
</html>
