<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
  <div layout:fragment="content">
    <form>
      <div class="body">
        <div class="mb-3">
          <label class="text-lg label-hd">ID検索・パスワード再設定</label>
        </div>
        <div th:replace="fragments/errormsg :: errormsg"></div>
        <div class="mb-5 flex row mlr-auto" style="width: 50%">
          <div class="flex row" style="flex: 1 0 0">
            <input id="searchId" name="searchKbn" type="radio" value="0" />
            <label for="searchId" class="text-base">ID検索</label>
          </div>
          <div class="flex row ml-3" style="flex: 1 0 0">
            <input id="searchPw" name="searchKbn" type="radio" value="1" />
            <label for="searchPw" class="text-base">パスワードの再設定</label>
          </div>
        </div>
        <div class="mb-3 flex label-center" id="idBox">
          <label for="id" class="text-base form-label">id</label>
          <input id="id" name="id" type="text" class="form-input w-medium" maxlength="20" />
        </div>
        <div class="mb-3 flex label-center">
          <label for="email" class="text-base form-label">メールアドレス</label>
          <input id="email" name="email" type="text" class="form-input w-medium" maxlength="256" />
        </div>
        <div class="mb-3 flex row label-center">
          <label for="birthday" class="text-base form-label">生年月日</label>
          <input id="birthday" name="birthday" type="date" class="form-input w-medium-half" />
        </div>
        <div class="mt-7 flex row bt-box">
          <button id="back" type="button">戻る</button>
          <button id="next" type="button" class="blue">次へ</button>
        </div>
      </div>
    </form>
    <script>
      // 初期処理
      $(document).ready(function () {
        $('#searchId').attr('checked', true);
        $('#idBox').addClass('hidden');
      });

      $('input[name="searchKbn"]').change((e) => {
        if (e.target.value == '0') {
          $('#idBox').addClass('hidden');
        } else {
          $('#idBox').removeClass('hidden');
        }
      });

      // 戻るボタンクリックイベント
      $('#back').click(() => {
        window.history.back();
      });

      // 次へボタンクリックイベント
      $('#next').click((e) => {
        const params = getForm($('form'));

        postData('/password/pre/ok', params, (res) => {
          location.href = res.url;
        });
      });
    </script>
    <style>
      .form-label {
        width: 170px;
        margin-left: 30px;
      }

      .label-center {
        align-items: center;
      }

      .bt-box {
        justify-content: space-between;
      }

      .bt-box button {
        max-width: 300px;
        width: calc(100% / 3 - 10px);
      }
    </style>
  </div>
</html>
