<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
  <div layout:fragment="content" class="body flex column">
    <div class="mb-3">
      <label class="text-lg label-hd" id="title">パスワード再設定完了</label>
    </div>
    <div class="label-center">パスワードの再設定が完了しました。</div>
    <button type="button" id="next" class="mt-7 blue">ログイン画面へ</button>
    <script>
      // ログイン画面へボタンクリックイベント
      $('#next').click(() => {
        postData('/password/end/ok', {}, (res) => {
          if (res.url != '' && res.url != null) {
            location.href = res.url;
          }
        });
      });
    </script>
    <style>
      button {
        width: 30%;
        align-self: center;
      }
    </style>
  </div>
</html>
