<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
  <div layout:fragment="content" class="body flex column">
    <div class="mb-3">
      <label class="text-lg label-hd">会員登録完了</label>
    </div>
    <div class="label-center">会員登録完了しました。</div>
    <button type="button" id="next" class="mt-7 blue">ログイン画面へ</button>
    <script>
      // 次へボタンクリックイベント
      $('#next').click(() => {
        postData('/join/end/ok', {}, (res) => {
          if (res.url != '' && res.url != null) {
            location.href = res.url;
          }
        });
      });
    </script>
    <style>
      .label-center {
        align-items: center;
      }

      a {
        display: block;
        color: black;
        margin: 50px 0;
        align-self: center;
      }

      button {
        width: 30%;
        align-self: center;
      }
    </style>
  </div>
</html>
