<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <div layout:fragment="content">
    <div style="padding: 50px">
      <div style="display: inline">ログインID：</div>
      <div sec:authorize="isAuthenticated()" sec:authentication="name" style="display: inline"></div>
      <div sec:authorize="isAnonymous()" sec:authentication="principal"></div>
    </div>
  </div>
</html>
