<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
  <div layout:fragment="content">
    <form>
      <div class="body">
        <div class="mb-3">
          <label class="text-lg label-hd">会員登録（仮）登録</label>
        </div>
        <div class="mb-3 flex label-center">
          <label for="email" class="text-base form-label required">メールアドレス</label>
          <input id="email" name="email" type="text" class="form-input w-medium" maxlength="256" />
        </div>
        <div class="mb-4 flex label-center">
          <label for="emailConfirm" class="text-base form-label">メールアドレス確認</label>
          <div class="flex column">
            <input id="emailConfirm" type="text" class="form-input w-medium" maxlength="256" />
            <p id="error-emailConfirm" class="error-msg text-sm hidden"></p>
          </div>
        </div>
        <div class="mb-3 flex label-center">
          <label for="password" class="text-base form-label required">パスワード</label>
          <input id="password" name="password" type="text" class="form-input w-medium" maxlength="64" />
        </div>
        <div class="mb-5 flex label-center">
          <label for="passwordConfirm" class="text-base form-label">パスワード確認</label>
          <div class="flex column">
            <input id="passwordConfirm" type="text" class="form-input w-medium" maxlength="64" />
            <p id="error-passwordConfirm" class="error-msg text-sm hidden"></p>
          </div>
        </div>
        <div class="mt-5 flex row bt-box">
          <button id="back" type="button">戻る</button>
          <button id="next" type="button" class="blue">次へ</button>
        </div>
      </div>
    </form>
    <script>
      // 初期処理
      $(document).ready(function () {});

      // 戻るボタンクリックイベント
      $('#back').click(() => {
        window.history.back();
      });

      // 次へボタンクリックイベント
      $('#next').click(() => {
        const params = getForm($('form'));

        postData('/join/pre/ok', params, (res) => {
          location.href = res.url;
        });
      });
    </script>
    <style>
      .body {
        padding: 30px;
      }

      .form-label {
        width: 170px;
        margin-left: 30px;
      }

      .label-center {
        align-items: center;
      }

      .bt-box {
        justify-content: space-between;
      }

      .bt-box button {
        max-width: 300px;
        width: calc(100% / 3 - 10px);
      }
    </style>
  </div>
</html>
