<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
  <div layout:fragment="content">
    <form>
      <div class="box">
        <div th:replace="~{fragments/errormsg :: errormsg}"></div>
        <div class="mb-2">
          <label for="username" class="text-base">id</label>
          <input id="id" name="username" type="text" class="form-input w-medium" />
          <p id="error-id" class="error-msg text-sm"></p>
        </div>
        <div class="mb-2">
          <label for="password" class="text-base">password</label>
          <div class="eye close">
            <input id="password" name="password" type="password" class="form-input w-medium" />
          </div>
          <p id="error-password" class="error-msg text-sm"></p>
        </div>
        <div class="t-r">
          <a href="/password/pre" class="text-xs">ID・パスワードをお忘れの方はこちら</a>
        </div>
        <div class="mt-5">
          <button type="submit" class="mb-2 blue">ログイン</button>
          <button type="button" id="joinBtn">会員登録</button>
        </div>
      </div>
    </form>
    <script>
      $("p[id^='error-']").each((index, elem) => {
        $(elem).addClass('hidden');
      });

      $('#joinBtn').click((e) => {
        location.href = '/join/pre';
      });

      $('form').submit((e) => {
        event.preventDefault();
        errorClear();

        if ($('#id').val() == '' || $('#password').val() == '') {
          if ($('#id').val() == '') {
            setErrorMsg('id', 'idを入力してください');
          }

          if ($('#password').val() == '') {
            setErrorMsg('password', 'passwordを入力してください');
          }

          return false;
        }

        let params = getForm($('form'));

        $.ajax({
          url: '/loging',
          type: 'POST',
          dataType: 'json',
          data: params,
          success: function (res) {
            if (res.httpStatus == 200) {
              location.href = '/home';
            } else {
              setError(decodeURI(res.message));
            }
          },
        });
      });
    </script>
    <style>
      .box {
        width: fit-content;
        margin: auto;
        padding: 30px;
      }
      a {
        text-decoration: none;
        color: gray;
      }
    </style>
  </div>
</html>
