<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
  <div layout:fragment="content" class="body flex column">
    <div class="label-center">トークンの有効期間が切れました。<br />再発行してください。</div>
    <button type="button" id="next" class="mt-7 green">ログイン画面へ</button>
    <script>
      // 次へボタンクリックイベント
      $('#next').click(() => {
        location.href = '/login';
      });
    </script>
    <style>
      .label-center {
        align-items: center;
      }

      a {
        display: block;
        color: black;
        margin: 50px 0;
        align-self: center;
      }

      button {
        width: 30%;
        align-self: center;
      }
    </style>
  </div>
</html>
