<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.planit.seung.curriculum.mapper.CommonMapper">
  <select id="get" 
    parameterType="map" 
    resultType="jp.planit.seung.curriculum.entity.CommonEntity">
    
    SELECT
      *
    FROM
      m_common
    WHERE
      delete_flg = '0'
      <if test='groupId != null or group != ""'>
        and group_id = #{groupId}
      </if>
      <if test='id != null or id != ""'>
        and id = #{id}
      </if>
    LIMIT 1;
  </select>
</mapper>