<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.planit.seung.curriculum.mapper.MemberDetailMapper">
  <select id="searchEmail" 
    parameterType="map" 
    resultType="jp.planit.seung.curriculum.entity.MemberDetailEntity">
    
    SELECT
      *
    FROM
      t_member_detail
    WHERE
      email = #{email}
    LIMIT 1;
  </select>
  
  <select id="search"
    parameterType="map"
    resultType="jp.planit.seung.curriculum.dto.member.MemberInfo">

    SELECT
      t1.id
      , t2.*
      , m.word as gender_name
    FROM
      t_member t1
    INNER JOIN
      t_member_detail t2
    ON
      t2.member_id = t1.member_id
      AND t2.delete_flg = 0
    LEFT JOIN
      m_common m
    ON
      m.id = t2.gender
      AND m.group_id = 1
      AND m.delete_flg = 0
    WHERE
      t1.delete_flg = 0

      <if test='id != null and id != ""'>
        AND t1.id = #{id}
      </if>

      <if test='name != null and name != ""'>
        AND t2.name LIKE CONCAT('%', #{name}, '%');
      </if>
    ;
  </select>
  <insert id="insert" parameterType="jp.planit.seung.curriculum.entity.MemberDetailEntity"
   useGeneratedKeys="true" keyProperty="member_id">
    INSERT INTO
      t_member_detail (
        email
        , name
        , birthday
        , gender
        , phone_no
        , postcode
        , delete_flg
        , create_date
        , update_date
      )
    VALUES (
      #{email}
      , #{name}
      , #{birthday}
      , #{gender}
      , #{phone_no}
      , #{postcode}
      , 0
      , NOW()
      , NOW()
    );
  </insert>
</mapper>