<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.planit.seung.curriculum.mapper.TokenMapper">
  <update id="deleteToken" parameterType="map">
    
    DELETE FROM
      token
    WHERE
      token LIKE CONCAT('%\"', #{email}, '\"%');
  </update>

  <select id="searchToken" parameterType="map" resultType="jp.planit.seung.curriculum.entity.TokenEntity">
    SELECT
      *
    FROM
      token
    WHERE
      token LIKE CONCAT('%\"', #{token}, '\"%')
      AND limit_date <![CDATA[>=]]> NOW()
    LIMIT 1;
  </select>
</mapper>